---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

// Width of the content area
$content-width:    1044px;

// Import partials from the `minima` theme.
@import "minima";

// Vendor
// @import "neat/neat";

// Utilities
@import "util/breakpoints";

// Base css
@import "base";
@import "typography";
@import "layout";

// Page css
@import "pages/index";

// Components
@import "components/toggle-content"
