<p>
    I am an enthusiastic developer with a passion for web, mobile and video game development. I love to learn new technologies and collaborate with other professionals to make amazing products.
    In addition, I am currently designing and developing a Unity game for iOS that I plan to release in the future. When I am not in front of the computer, I play the drums, ski and draw.
</p>
<div class="icon-button">
    <a href="https://github.com/svaldivia" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/sebastian-valdivia" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
</div>
