<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://use.fontawesome.com/12adda9f09.js"></script>
    <script src="{{ '/js/toggle-content.js?v=' | append: site.github.build_revision | relative_url }}"></script>
</head>
