<nav class="element-shadow">
    <div class="pd pd-horizontal">
        <span class="emoji"><a href="/">👾</a></span>
    </div>
    <!-- <div class="m-menu-button text-align-center toggle-button">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menu-buttons toggle-content">
        <div class="nav-button text-align-center">
            <a href="/temp">Experience</a>
        </div>
        <div class="nav-button text-align-center">
            <a href="/temp">Portfolio</a>
        </div>
        <div class="nav-button text-align-center">
            <a href="/temp">Fun Stuff</a>
        </div>
    </div> -->
</nav>
