//------------------------------
// GRID SETTINGS
//------------------------------

.full-height {
    height: 100%;
}

.main-header {
    color: $gray-3;
    height: 100vh;
    background-image: url('/assets/images/personal_landing_background.jpg');
    background-attachment: fixed;
    background-position: center;

    h2 { color: $gray-2; }

    .hero-text {
        padding-top: 35vh;
    }
}

//------------------------------
// Box Model
//------------------------------

.mg { margin: 1rem; }
.mg-none { margin: 0; }
.mg-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.pd { padding: 1rem; }
.pd-half { padding: 0.5rem; }
.pd-none { padding:0; }

.pd-horizontal {
    padding-top: 0;
    padding-bottom: 0;
}
.pd-vertical {
    padding-right: 0;
    padding-left: 0;
}
.pd-top {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.pd-left {
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}
