<section class="section-grid pd pd-vertical">
    <div class="section-img">
        <img src="{{ site.url }}/assets/images/portrait.jpg" alt="Sebastian Valdivia" >
        <p class="metatext text-align-center mg mg-none">Photo taken by <a href="http://www.irischiaphoto.com/" target="_blank">Iris Chia</a></p>
    </div>
    <h2 class="section-title text-align-center mg-none">{{ include.title }}</h2>
    <div class="section-content">
        {% if include.extra %}
            {% include {{ include.extra }} %}
        {% endif %}

        {% if include.content %}
            <p>
                {{ include.content }}
            </p>
        {% endif %}
    </div>
</section>
